<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head(${gym.name})"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mt-2">
            <li class="breadcrumb-item"><a th:href="@{/}">Kezdőlap</a></li>
            <li class="breadcrumb-item"><a th:href="@{/gyms}">Termek</a></li>
            <li th:text="${gym.name}" class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>

    <div th:replace="layout :: flash"></div>

    <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center">
            <img th:src="${gym.picURL}" onerror="this.src='/images/gym.svg'"
                 alt="gym" class="detail-img"/>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 text-center">
                    <h2 th:text="${gym.name}"></h2>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <p class="text-secondary mb-0">Város</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <a th:href="@{|/gyms?cityName=${gym.city.name}|}" th:text="${gym.city.name}"></a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <p class="text-secondary mb-0">Edzők száma</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <h5 th:text="${trainersNumber}"></h5>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <p class="text-secondary mb-0">Átlagos Edző Pontszám</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="stars-trainer" th:if="${countRating == 0}">
                        <div class="score-container">
                            <div id="specialRateYoBlur" class="rateYoReadOnly blur"></div>
                            <a class="reviewNumber">Nincsenek még Értékelések</a>
                        </div>
                    </div>
                    <div class="stars-trainer" th:if="${countRating > 0}">
                        <div class="score-container">
                            <a class="averageRating starOutput" th:text="${trainerAvgScore}" style="display: none"/>
                            <div id="specialRateYo" class="rateYoReadOnly notblur"></div>
                            <p class="reviewNumber"
                               th:text="${trainerAvgScore + ' pont ' + countRating + ' értékelő alapján'}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="gym/trainers :: gym-trainers"></div>
<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/rating/gymDetailsRating.js}"></script>
<script th:inline="javascript" th:src="@{/js/search/trainerSearchInGym.js}"></script>
<script th:src="@{/js/autocomplete/autocompleteHTML.js}"></script>
<script th:src="@{/js/autocomplete/trainerSearchInGymAutocomplete.js}"></script>
</body>
</html>