<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Új Konditerem')"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container mt-2 mb-2 content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mt-2">
            <li class="breadcrumb-item"><a th:href="@{/}">Kezdőoldal</a></li>
            <li class="breadcrumb-item"><a th:href="@{/gyms}">Termek</a></li>
            <li class="breadcrumb-item"><a>Új Konditerem</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h2>Új Edzőterem</h2>
        </div>
    </div>

    <form id="gymForm" th:action="@{${action}}" method="post" th:object="${gymAddForm}" enctype="multipart/form-data">

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="inputGymAddGymCityName">Város</label>
                <input th:field="*{cityName}" name="cityName" type="text" class="form-control" id="inputGymAddGymCityName" placeholder="Kezdd el írni..."></input>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="inputGymAddGymName">Terem Neve</label>
                <input th:field="*{name}" name="gymName" type="text" class="form-control" id="inputGymAddGymName" placeholder="Ugye nem a Cutler?"></input>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="file">Egy Kép a Teremről</label>
                    <input id="file" name="file" type="file" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" ></input>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <button type="submit" class="btn btn-save">Feltöltés</button>
                <a  th:onclick="'javascript:window.history.go(\'' + ${backTimes}+ '\');'" class="btn btn-cancel">Vissza</a>
            </div>
        </div>
    </form>

</div>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/validation/gymFormValidation.js}"></script>
<script th:src="@{/js/autocomplete/gymFormAutocomplete.js}"></script>

</body>
</html>