<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Edzőtermek')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div class="container">
    <div th:replace="gym/search :: gym-search"></div>
    <div th:replace="layout :: flash"></div>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-10 col-lg-10 main-title">
            <h2 class="display-5 text-center text-sm-left my-5 text-muted">Edzőtermek</h2>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 mt-0 mt-sm-5 mb-3 text-center text-sm-right add-button">
            <a class="btn btn-success"  href="/gyms/add">Új Hozzáadása</a>
        </div>
    </div>

    <div class="row">
        <div th:if="${gymCount == 0}" class="col-md-6 col-lg-4">
            <h6>Nincsen sajnos találat :((</h6>
        </div>
        <div th:if="${gymCount > 0 and isQueryDsl}" class="col-md-6 col-lg-4" th:each="gym : ${gyms}">
            <div class="card gym-card mb-3 mx-auto text-center" style="width: 18rem;">
                <a th:href="@{|/gyms/${gym.id}|}" class="custom-card">
                    <div class="card-body">
                        <h4 class="gym-name mb-0" th:text="${gym.name}"></h4>
                        <p class="gym-city-name" th:text="${gym.city.name}"></p>
                        <p class="gym-trainer-count" th:text="${{#lists.size(gym.trainers)} + ' db edző'}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div th:if="${gymCount > 0 and not isQueryDsl}" class="col-md-6 col-lg-4" th:each="gym : ${gyms}">
            <div class="card gym-card mb-3 mx-auto text-center" style="width: 18rem;">
                <a th:href="@{|/gyms/${gym[0].id}|}" class="custom-card">
                    <div class="card-body">
                        <h4 class="gym-name mb-0" th:text="${gym[0].name}"></h4>
                        <p class="gym-city-name" th:text="${gym[0].city.name}"></p>
                        <p class="gym-trainer-count" th:text="${{#lists.size(gym[0].trainers)} + ' trainers'}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="gym/pagination :: gym-pagination"></div>
<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/autocomplete/autocompleteHTML.js}"></script>
<script th:src="@{/js/autocomplete/gymSearchAutocomplete.js}"></script>
<script th:src="@{/js/search/gymSearch.js}"></script>


</body>
</html>