<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="gym-pagination">
    <nav aria-label="Page navigation example">
        <div th:if="${gyms.totalPages > 1}" th:with="gymNameVar=${param.gymName}, cityNameVar=${param.cityName}, sortVar=${param.sortOption}">
            <ul class="pagination justify-content-center mt-5 pb-5">
                <li class="page-item" th:class="${gyms.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=1 __(${gymNameVar}==null ? '' : ',gymName=${gymNameVar}')__
                                                             __(${cityNameVar}==null ? '' : ',cityName=${cityNameVar}')__
                                                             __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Első</a>
                </li>
                <li class="page-item" th:class="${gyms.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=${gyms.number}__(${gymNameVar}==null ? '' : ',gymName=${gymNameVar}')__
                                                                         __(${cityNameVar}==null ? '' : ',cityName=${cityNameVar}')__
                                                                         __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Előző</a>
                </li>
                <li class="page-item" th:class="${gyms.number == (page - 1)} ? disabled"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{''(page=${page}__(${gymNameVar}==null ? '' : ',gymName=${gymNameVar}')__
                                                                  __(${cityNameVar}==null ? '' : ',cityName=${cityNameVar}')__
                                                                  __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}"
                       th:text="${page}"></a>
                </li>
                <li class="page-item" th:class="${gyms.number + 1 == gyms.totalPages} ? disabled">
                    <a class="page-link" th:href="@{''(page=${gyms.number + 2}__(${gymNameVar}==null ? '' : ',gymName=${gymNameVar}')__
                                                            __(${cityNameVar}==null ? '' : ',cityName=${cityNameVar}')__
                                                            __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Kövi</a>
                </li>
                <li class="page-item" th:class="${gyms.number + 1 == gyms.totalPages} ? disabled">
                    <a class="page-link" th:href="@{''(page=${gyms.totalPages}__(${gymNameVar}==null ? '' : ',gymName=${gymNameVar}')__
                                                            __(${cityNameVar}==null ? '' : ',cityName=${cityNameVar}')__
                                                            __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Utolsó</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="trainer-pagination">
    <nav aria-label="Page navigation example">
        <div th:if="${trainers.totalPages > 1}" th:with="trainerNameVar=${param.trainerName}">
            <ul class="pagination justify-content-center mt-5 pb-5">
                <li class="page-item" th:class="${trainers.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=1 __(${trainerNameVar}==null ? '' : ',trainerName=${trainerNameVar}')__)}">Első</a>
                </li>
                <li class="page-item" th:class="${trainers.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=${trainers.number}__(${trainerNameVar}==null ? '' : ',trainerName=${trainerNameVar}')__)}">Előző</a>
                </li>
                <li class="page-item" th:class="${trainers.number == (page - 1)} ? disabled"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{''(page=${page}__(${trainerNameVar}==null ? '' : ',trainerName=${trainerNameVar}')__)}"
                       th:text="${page}"></a>
                </li>
                <li class="page-item" th:class="${trainers.number + 1 == trainers.totalPages} ? disabled">
                    <a class="page-link" th:href="@{''(page=${trainers.number + 2}__(${trainerNameVar}==null ? '' : ',trainerName=${trainerNameVar}')__)}">Kövi</a>
                </li>
                <li class="page-item" th:class="${trainers.number + 1 == trainers.totalPages} ? disabled">
                    <a class="page-link" th:href="@{''(page=${trainers.totalPages}__(${trainerNameVar}==null ? '' : ',trainerName=${trainerNameVar}')__)}">Utolsó</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>