<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="gym-search">

    <form id="searchGymForm" th:action="@{/gyms}" method="get">
        <div class="container mt-4">
            <div class="input-group col-s-12 col-md-12 col-lg-12">
                <input class="form-control search-gym-input" name="gymName" id="searchGymName"
                       th:value="${gymName}"
                       type="search" placeholder="Terem neve"/>
                <span class="input-group-append">
                    <button class="btn dropdown-toggle adv-search-toggle" type="button" id="dropdownMenuButton">
                    </button>
                    <button id="gymSearchButton" class="btn search-btn" onclick="searchGymForm.submit();" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="input-group col-s-12 col-md-12 col-lg-12 mt-2" id="gymSearchCityNameDiv" style="display: none;">
                <input class="form-control search-city-input" name="cityName" id="searchCityName"
                       th:value="${cityName}"
                       type="search" placeholder="Város neve..."/>
            </div>

            <div class="input-group col-s-12 col-md-12 col-lg-12 mt-2">
                <div id="reset-fields"></div>
            </div>

            <div class="input-group col-s-12 col-md-12 col-lg-12 mt-2 mb-0">
                <span class="mr-2 mt-1">Rendezés</span>
                <select name="sortOption" onchange="this.form.submit()" id="orderByDropdown" class="col-12 col-sm-6 col-md-4 col-lg-3 form-control form-control-sm">
                    <option th:each="sortOption : ${sortOptions}" th:value="${sortOption}" th:text="${sortOption}" th:selected="${sortOption.equals(selector)}">Legtöbb edző</option>
                </select>
            </div>

        </div>
    </form>
</div>

</body>
</html>