<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head(${gym.name})"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container mt-2 mb-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mt-2">
            <li class="breadcrumb-item"><a th:href="@{/}">Kezdőlap</a></li>
            <li class="breadcrumb-item"><a th:href="@{/gyms}">Termek</a></li>
            <li class="breadcrumb-item"><a th:href="@{|/gyms/${gym.id}|}" th:text="${gym.name}"></a></li>
            <li class="breadcrumb-item"><a>Új Edző</a></li>
        </ol>
    </nav>

    <div th:replace="layout :: flash"></div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h2>Új Edző</h2>
        </div>
    </div>

    <form id="trainerForm" th:action="@{${action}}" method="post" th:object="${trainerAddForm}" enctype="multipart/form-data">
        <div th:replace="layout :: flash-field-errors"></div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="inputTrainerAddTrainerName">Edző Neve</label>
                <input th:field="*{name}" type="text" class="form-control" id="inputTrainerAddTrainerName" placeholder="Kathi Bécii"></input>
            </div>
        </div>

        <input th:value="${gym.city.name}" name="cityName" type="hidden" class="form-control" id="inputTrainerAddTrainerCityName" placeholder="Enter city"></input>
        <input th:value="${gym.id}" name="gym.id" type="hidden" class="form-control" id="inputTrainerAddTrainerGymName" placeholder="Enter gym"></input>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="file">Profilkép</label>
                    <input id="file" name="file" type="file" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" ></input>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <button type="submit" class="btn btn-save">Hozzáadom</button>
                <a th:onclick="'javascript:window.history.go(\'' + ${backTimes}+ '\');'" class="btn btn-cancel">Mégse</a>
            </div>
        </div>
    </form>

</div>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/validation/gymAddTrainerFormValidation.js}"></script>

</body>
</html>