<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="gym-trainers">
    <div th:replace="gym/trainerSearch :: trainer-search"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 mt-5">
                <h2 th:text="${heading}" class="display-5 text-left text-muted">Edzők</h2>
            </div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 mt-0 mt-sm-5 mb-3 text-left text-sm-right add-button">
                <a class="btn btn-success" th:href="@{|/gyms/${gym.id}/addTrainer|}">Új Edző</a>
            </div>
        </div>
        <div class="row">
            <div th:if="${trainersNumber == 0}" class="col-md-6 col-lg-4">
                <h6>Sajnos nincs találat :(</h6>
            </div>
            <div th:if="${trainersNumber > 0}" class="col-md-6 col-lg-4" th:each="trainer : ${trainers}">
                <div class="card trainer-card mb-3 mx-auto text-center" style="width: 18rem;">
                    <a th:href="@{|/trainers/${trainer[0].id}|}" class="custom-card">
                        <div class="card-body">
                            <img th:src="${trainer[0].picURL}" onerror="this.src='/images/user-3.svg'"
                                 alt="trainer" class="index-img img-circle"/>
                            <h4 class="trainer-name mb-0" th:href="@{|/trainers/${trainer[0].id}|}" th:text="${trainer[0].name}"></h4>
                            <p class="trainer-gym-name" th:text="${'(' + trainer[0].gym.name + ')'}"></p>
                            <div class="stars-trainer" th:if="${trainer[2] == 0}">
                                <div id="specialRateYoBlur" class="rateYoReadOnly blur"></div>
                                <a class="reviewNumber">Nincs még értékelés</a>
                            </div>
                            <div class="stars-trainer" th:if="${trainer[2] > 0}">
                                <a class="averageRating starOutput" th:text="${trainer[1]}" style="display: none"/>
                                <div id="specialRateYo" class="rateYoReadOnly notblur"></div>
                                <a class="reviewNumber"
                                   th:text="${trainer[2] + ' értékelés'}"></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="gym/pagination :: trainer-pagination"></div>
</div>


</body>
</html>