@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
/* BootStrap */

/* Body */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

body > .container {
    padding: 60px 15px 0;
}

/* Universal tags */
a {
    color: #7873f5;
}

a:hover {
    text-decoration: none;
}

/* Navbar */
a#navbarDropdown{
    cursor: pointer;
}

#logoutButton {
    cursor: pointer;
}

/* Footer */
.footer-container {
    background: #343a40;
}

.footer-link {
    color: rgba(255,255,255,.5);
}

.footer-link:hover {
    color: rgba(255,255,255,.75);
}

.footer-watermark {
    color: #fff;
}

.footer-critical {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.active-footer {
    color: white;
}

/* Home */
.home-big-div {
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important
}

.btn-register {
    margin-right: 5em;
    background: none;
    border-color: white;
}

.btn-register:hover {
    background: none;
    border-color: #514A9D;
}

.btn-see-trainers:hover {
    background: none;
    border-color: #514A9D;
}

.btn-see-trainers {
    background: none;
    border-color: white;
}

.btn-see-gyms {
    margin-right: 5em;
    background: none;
    border-color: white;
}

.btn-see-gyms:hover {
    background: none;
    border-color: #514A9D;
}

.teaser-text {
    font-size: 1.1em;
}
#gym-teaser-card {
    background-image: url("../images/home/gymbckgrnd.jpg"); /* fallback for older browsers */
    background-image: linear-gradient(to bottom, rgba(1,2,3,0.19) 0%,rgba(1,2,3,0.7) 10%), url(../images/home/gymbckgrnd.jpg);
}

#trainer-teaser-card {
    background-image: url("../images/home/trainer.jpeg"); /* fallback for older browsers */
    background-image: linear-gradient(to bottom, rgba(1,2,3,0.19) 0%,rgba(1,2,3,0.7) 10%), url(../images/home/trainer.jpeg);
}

#user-teaser-card {
    background-image: url("../images/home/user.jpg"); /* fallback for older browsers */
    background-image: linear-gradient(to bottom, rgba(1,2,3,0.19) 0%,rgba(1,2,3,0.7) 10%), url(../images/home/user.jpg);
}

.top3-trainers-cards {
    background: linear-gradient(180deg,#ff6ec4,#7873f5)!important
}

.index-img {
    width: 50%;
}

/* Profile */
.profile-img {
    width: 5%;
}

a.profile-button {
    color: #514A9D;
    font-size: 1.2em;
}

a.profile-button:hover {
    text-decoration: none;
}

a.profile-button.active {
    font-weight: 600;
    border-bottom: 2px solid #39b9;
}

/* Login */
.password-forgot {
    font-size: 0.9rem;
}

/* Trainer and Gyms list */
.add-button {
    top: 50%;
}

/* Trainer List */
.img-circle {
    display: block;
    height: 50%;
    object-fit: cover;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.detail-img {
    object-fit: cover;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    width: 75%;
}

/* Cards */
a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}

.card {
    background: #f8f9fa;
    border-color: #7873f5;
}

/* Search stuff */
.adv-search-toggle {
    background-color: #7873f5;
    color: white;
}

.adv-search-toggle:hover {
    box-shadow: none;
    background: #7873f5
}

.adv-search-toggle:active {
    box-shadow: none;
    background: #7873f5
}

.adv-search-toggle:focus {
    box-shadow: none;
    background: #7873f5
}

.rotated-adv-search-arrow {
    transform: rotate(180deg);
}

.dropdown-toggle::after {
    margin-left: 0;
}

.search-btn {
    background: whitesmoke;
    color: forestgreen
}

/* Pagination stuff */
.pagination-centered {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}

/* BreadCumb Navigation */
.breadcrumb {
    background: #f8f9fa;
}

/* Autocomplete stuff */
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    /*z-index: 1000;*/
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;

    font-size: 1.1em;
    line-height: 35px;
    cursor: pointer;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #39b9;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
    display: block;
}

.ui-helper-hidden-accessible {
    display: none;
}

.autocomplete-li {
    color: #444 !important;
}

.autocomplete-li-with-picture {
    color: #444 !important;
    position: absolute;
    padding-top: 15px;
}

.autocomplete-cityname {
    color: #dad7de !important;
}

.autocomplete-gymname {
    color: #dad7de !important;
}

.autocomplete-img {
    border-radius: 25%;
    padding-right: 5px;
    padding-left: 5px;
}

.autocomplete-link {
    display: block;
}

/* Trainer cards */

.trainer-card {
    height: 339px;
}

/* Gym cards */

.gym-card {
    height: 186px;
}

div.stars-trainer {
    display: inline-block;
}

/* RateYo plugin stuff */
.rateYoReadOnly.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2.2px);
}

/* Trainer details */
.trainer-details-img {
    width: 250px;
}

.score-container {
    text-align: center;
}

.review-text {
    text-align: left;
}

.review-date {
    position: absolute;
    right: 3%;
    opacity: 0.5;
}

.review-default {
    width: 47px;
    opacity: 1;
}

.review-sort {
    width: 36px;
    margin-left: 15px;
    opacity: 0.5;
}

.review-sort-active {
    width: 47px;
    opacity: 1;
}

#reviewArrowDiv {
    display: inline;
}

/* User reviews */
.delete-button {
    cursor: pointer;
}

/* Universal buttons */
.form-control:focus {
    border-color: #514A9D !important;
    box-shadow: 0 0 5px rgba(98, 101, 228, 1) !important;
}

.btn-save {
    background: -webkit-gradient(linear,left bottom,right top,from(#41b782),to(#86d169));
    background: linear-gradient(to top right,#41b782,#86d169);
    height: 44px;
    margin: .25em 0;
    padding: 0 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
}

.btn-save:focus {
    box-shadow: none;
    background: #86d169;
}

.btn-save:active {
    box-shadow: none;
    background: #86d169;
}

.btn-cancel {
    background: -webkit-gradient(linear,left bottom,right top,from(#FFA500),to(#cc8400));
    background: linear-gradient(to top right,#FFA500,#cc8400);
    height: 44px;
    margin: .25em 0;
    padding: 0 30px;
    color: #fff!important;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
}

.btn-cancel:focus {
    box-shadow: none;
    background: #cc8400;
}

.btn-cancel:active {
    box-shadow: none;
    background: #cc8400;
}

/* Trainer add form */
#canvas {
    border: 1px solid #aaaaaa;
    width: 500px;
    height: 500px;
}

#gymNotFoundInCityErrorMsg {
    display: none;
    color: #dc3545;

}

/* Input Error */
.has-error {
    border-color: #dc3545;
}

