<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head(${trainer.name})"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mt-2">
            <li class="breadcrumb-item"><a th:href="@{/}">Kezdőlap</a></li>
            <li class="breadcrumb-item"><a th:href="@{/gyms}">Termek</a></li>
            <li class="breadcrumb-item"><a th:href="@{|/gyms/${trainer.gym.id}|}" th:text="${trainer.gym.name}"></a></li>
            <li class="breadcrumb-item"><a th:text="${trainer.name}"></a></li>
        </ol>
    </nav>

    <div th:replace="layout :: flash"></div>

    <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center">
            <img th:src="${trainer.picURL}" onerror="this.src='/images/user-3.svg'"
                 alt="trainer" class="detail-img"/>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 text-center">
                    <h2 th:text="${trainer.name}"></h2>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <p class="text-secondary mb-0">Város</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <a th:href="@{|/trainers?city=${trainer.gym.city.name}|}" th:text="${trainer.gym.city.name}"></a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <p class="text-secondary mb-0">Edzőterem</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <a th:href="@{|/gyms/${trainer.gym.id}|}" th:text="${trainer.gym.name}"></a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <p class="text-secondary mb-0">Pontszám</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="stars-trainer" th:if="${countRating == 0}">
                        <div class="score-container">
                            <div id="specialRateYoBlur" class="rateYoReadOnly blur"></div>
                            <a class="reviewNumber">Nincs még Értékelés</a>
                        </div>
                    </div>
                    <div class="stars-trainer" th:if="${countRating > 0}">
                        <div class="score-container">
                            <a class="averageRating starOutput" th:text="${avgRating}" style="display: none"/>
                            <div id="specialRateYo" class="rateYoReadOnly notblur"></div>
                            <p class="reviewNumber"
                               th:text="${avgRating + ' pont ' + countRating + ' értékelőtől'}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="trainer/reviews :: trainer-reviews"></div>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/rating/trainerDetailsRating.js}"></script>

</body>
</html>