<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('New Trainer')"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container mt-2 mb-2 content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mt-2">
            <li class="breadcrumb-item"><a th:href="@{/}">Kezdőlap</a></li>
            <li class="breadcrumb-item"><a th:href="@{/trainers}">Edzők</a></li>
            <li class="breadcrumb-item"><a>Új Edző</a></li>
        </ol>
    </nav>

    <div th:replace="layout :: flash"></div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h2>Új Edző</h2>
        </div>
    </div>

    <form id="trainerForm" th:action="@{${action}}" method="post" th:object="${trainerAddForm}" enctype="multipart/form-data">
        <div th:replace="layout :: flash-field-errors"></div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="inputTrainerAddTrainerName">Név</label>
                <input th:field="*{name}" type="text" class="form-control" id="inputTrainerAddTrainerName" placeholder="BohosKoxos Kornél"></input>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <p id="gymNotFoundInCityErrorMsg" class="mb-0"></p>
                <label for="inputTrainerAddTrainerCityName">Város</label>
                <input th:field="*{cityName}" type="text" class="form-control" id="inputTrainerAddTrainerCityName" placeholder="Várost Add meg ide"></input>
                <small class="form-text text-muted">Addig nem tudsz termet választani, míg nem adtál meg egy várost!</small>
            </div>
        </div>

        <div class="row mt-2" >
            <div class="col-md-6 col-lg-4">
                <label for="inputTrainerAddTrainerGymName">Edzőterem</label>
                <select th:field="*{gym.id}" class="chzn-select custom-select custom-select-sm"
                        data-placeholder="Válassz egy Termet" id="inputTrainerAddTrainerGymName">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="file">Profilkép</label>
                    <input id="file" name="file" type="file" class="form-control-file" accept="image/png,image/gif,image/jpeg"  ></input>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <button id="btnSubmit" type="submit" class="btn btn-save">Hozzáadás</button>
                <a  th:onclick="'javascript:window.history.go(\'' + ${backTimes}+ '\');'" class="btn btn-cancel">Vissza</a>
            </div>
        </div>
    </form>

</div>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/autocomplete/trainerFormAutocomplete.js}"></script>
<script th:src="@{/js/validation/trainerFormValidation.js}"></script>
<script th:src="@{/js/dynamic-dropdown/trainerFormDynamicDropdown.js}"></script>

</body>
</html>