<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="trainer-pagination">
    <nav aria-label="Page navigation example">
        <div th:if="${trainers.totalPages > 1}" th:with="trainerVar=${param.trainer}, gymVar=${param.gym}, cityVar=${param.city}, sortVar=${param.sortOption}">
            <ul class="pagination justify-content-center mt-5 pb-5">
                <li class="page-item" th:class="${trainers.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=1 __(${trainerVar}==null ? '' : ',trainer=${trainerVar}')__
                                                                 __(${gymVar}==null ? '' : ',gym=${gymVar}')__
                                                                 __(${cityVar}==null ? '' : ',city=${cityVar}')__
                                                                 __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Első</a>
                </li>
                <li class="page-item" th:class="${trainers.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=${trainers.number} __(${trainerVar}==null ? '' : ',trainer=${trainerVar}')__
                                                                                  __(${gymVar}==null ? '' : ',gym=${gymVar}')__
                                                                                  __(${cityVar}==null ? '' : ',city=${cityVar}')__
                                                                                  __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Előző</a>
                </li>
                <li class="page-item" th:class="${trainers.number == (page - 1)} ? disabled"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{''(page=${page} __(${trainerVar}==null ? '' : ',trainer=${trainerVar}')__
                                                                       __(${gymVar}==null ? '' : ',gym=${gymVar}')__
                                                                       __(${cityVar}==null ? '' : ',city=${cityVar}')__
                                                                       __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}"
                       th:text="${page}"></a>
                </li>
                <li class="page-item" th:class="${trainers.number + 1 == trainers.totalPages} ? disabled">
                    <a class="page-link"
                       th:href="@{''(page=${trainers.number + 2} __(${trainerVar}==null ? '' : ',trainer=${trainerVar}')__
                                                                     __(${gymVar}==null ? '' : ',gym=${gymVar}')__
                                                                     __(${cityVar}==null ? '' : ',city=${cityVar}')__
                                                                     __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Kövi</a>
                </li>
                <li class="page-item" th:class="${trainers.number + 1 == trainers.totalPages} ? disabled">
                    <a class="page-link"
                       th:href="@{''(page=${trainers.totalPages} __(${trainerVar}==null ? '' : ',trainer=${trainerVar}')__
                                                                     __(${gymVar}==null ? '' : ',gym=${gymVar}')__
                                                                     __(${cityVar}==null ? '' : ',city=${cityVar}')__
                                                                     __(${sortVar}==null ? '' : ',sortOption=${sortVar}')__)}">Utolsó</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="review-pagination">
    <nav aria-label="Page navigation example">
        <div th:if="${reviews.totalPages > 1}"  th:with="reviewSortVar=${param.reviewSort}">
            <ul class="pagination justify-content-center mt-5 pb-5">
                <li class="page-item" th:class="${reviews.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=1 __(${reviewSortVar}==null ? '' : ',reviewSort=${reviewSortVar}')__)}">Első</a>
                </li>
                <li class="page-item" th:class="${reviews.number == 0} ? disabled">
                    <a class="page-link" th:href="@{''(page=${reviews.number}__(${reviewSortVar}==null ? '' : ',reviewSort=${reviewSortVar}')__)}">Előző</a>
                </li>
                <li class="page-item" th:class="${reviews.number == (page - 1)} ? disabled"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{''(page=${page}__(${reviewSortVar}==null ? '' : ',reviewSort=${reviewSortVar}')__)}"
                       th:text="${page}"></a>
                </li>
                <li class="page-item" th:class="${reviews.number + 1 == reviews.totalPages} ? disabled">
                    <a class="page-link" th:href="@{''(page=${reviews.number + 2}__(${reviewSortVar}==null ? '' : ',reviewSort=${reviewSortVar}')__)}">Kövi</a>
                </li>
                <li class="page-item" th:class="${reviews.number + 1 == reviews.totalPages} ? disabled">
                    <a class="page-link" th:href="@{''(page=${reviews.totalPages}__(${reviewSortVar}==null ? '' : ',reviewSort=${reviewSortVar}')__)}">Utolsó</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>