<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="trainer-reviews">

    <div class="container mt-2 mb-2">

        <div id="reviews" class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 mt-5">
                <h2 class="display-5 text-left text-muted">Értékelések
                    <div id="reviewArrowDiv" th:if="${countRating > 0}">
                        <a th:href="@{''(reviewSort=Csökkenő)} + '#reviews'">
                            <img th:classappend="${(param.reviewSort != null) and (param.reviewSort[0] == 'Növekvő') ? 'review-sort' : ''}"
                                 class="review-default" src="/images/review/greenarrow.svg"/>
                        </a>
                        <a th:href="@{''(reviewSort=Növekvő)} + '#reviews'">
                            <img th:classappend="${(param.reviewSort != null) and (param.reviewSort[0] == 'Növekvő') ? 'review-sort-active' : ''}"
                                 class="review-sort" src="/images/review/redarrow.svg"/>
                        </a>
                    </div>
                </h2>
            </div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 mt-0 mt-sm-5 mb-3 text-left text-sm-right add-button">
                <a class="btn btn-success" th:href="@{|/trainers/${trainer.id}/review|}">Új Hozzáadása</a>
            </div>
        </div>

        <div class="row">
            <div th:if="${countRating == 0}" class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h6>Nincs még értékelés</h6>
            </div>
            <div th:if="${countRating > 0}" class="col-12 col-sm-12 col-md-12 col-lg-12" th:each="review : ${reviews}">
                <div class="card mb-3 mx-auto text-center" style="width: 100%;">
                    <a class="starOutput name" th:text="${review.rating}" style="display: none"></a>
                    <div class="rateYoReadOnly review-rateyo-readonly mt-1"></div>
                    <div class="review-date mt-1" th:text="${#dates.format(review.createdDate, 'yyyy.MM.dd')}"></div>
                    <p class="review-text mt-2 ml-2" th:text="${review.reviewText}"></p>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="trainer/pagination :: review-pagination"></div>

</div>

</body>
</html>