<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Edzők')"></head>
<body>
<div th:replace="layout :: nav"></div>

    <div class="container">
        <div th:replace="trainer/search :: trainer-search"></div>
        <div class="row">
            <div class="col-12 col-sm-10 col-md-10 col-lg-10 main-title">
                <h2 class="display-5 text-center text-sm-left my-5 text-muted" th:text="${heading}">Edzők</h2>
            </div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 mt-0 mt-sm-5 mb-3 text-center text-sm-right add-button">
                <a class="btn btn-success" href="/trainers/add">Új Hozzáadása</a>
            </div>
        </div>
        <div class="row">
            <div th:if="${trainerCount == 0}" class="col-md-6 col-lg-4">
                <h6>Nincs a keresésnek megfelelő találat :(</h6>
            </div>
            <div th:if="${trainerCount > 0}" class="col-md-6 col-lg-4" th:each="trainer : ${trainers}">
                <div class="card trainer-card mb-3 mx-auto text-center" style="width: 18rem;">
                    <a th:href="@{|/trainers/${trainer[0].id}|}" class="custom-card">
                        <div th:href="@{|/trainers/${trainer[0].id}|}" class="card-body">
                            <img th:src="${trainer[0].picURL}" onerror="this.src='/images/user-3.svg'"
                                 alt="trainer" class="index-img img-circle"/>
                            <h4 class="trainer-name mb-0" th:href="@{|/trainers/${trainer[0].id}|}" th:text="${trainer[0].name}"></h4>
                            <p class="trainer-gym-name" th:text="${'(' + trainer[0].gym.name + ')'}"></p>
                            <div class="stars-trainer" th:if="${trainer[2] == 0}">
                                <div id="specialRateYoBlur" class="rateYoReadOnly blur"></div>
                                <a class="reviewNumber">Nincs még értékelés</a>
                            </div>
                            <div class="stars-trainer" th:if="${trainer[2] > 0}">
                                <a class="averageRating starOutput" th:text="${trainer[1]}" style="display: none"/>
                                <div id="specialRateYo" class="rateYoReadOnly notblur"></div>
                                <a class="reviewNumber"
                                   th:text="${trainer[2] + ' db értékelés'}"></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


<div th:replace="trainer/pagination :: trainer-pagination"></div>
<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/autocomplete/autocompleteHTML.js}"></script>
<script th:src="@{/js/search/trainerSearch.js}"></script>
<script th:src="@{/js/autocomplete/trainerSearchAutocomplete.js}"></script>
<script th:src="@{/js/rating/trainerListRating.js}"></script>

</body>
</html>