<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Kezdőoldal')"></head>
<body>
<div th:replace="layout :: nav"></div>


    <div class="jumbotron jumbotron-fluid text-white home-big-div">
        <div class="container text-sm-center text-center pt-5">
            <p class="lead">Sosem volt még ilyen egyszerű megtalálnod a Neked megfelelő személyi edzőt...</p>

            <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
                <a sec:authorize="!isFullyAuthenticated()" th:href="@{/signup}" class="btn btn-info btn-register">Regisztrálj most</a>
                <a sec:authorize="isFullyAuthenticated()" th:href="@{/gyms}" class="btn btn-info btn-see-gyms">Edzőtermek</a>
                <a th:href="@{/trainers}" class="btn btn-info btn-see-trainers">Edzők</a>
            </div>

        </div>
    </div>

<div class="teaser-cards pt-5 pb-5">
    <div class="container pt-25">

        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div id="gym-teaser-card" class="card mb-3 mx-auto text-center text-white bg-danger" style="width: 18rem;">
                    <div class="card-body">
                        <img class="index-img" src="/images/indexIcons/gym.svg" alt="trainers"/>
                        <p class="card-text text-center mt-3 teaser-text">Fedezd fel a termeket</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div id="trainer-teaser-card" class="card mb-3 mx-auto text-center text-white" style="width: 18rem; background-color: blueviolet;">
                    <div class="card-body">
                        <img class="index-img" src="/images/indexIcons/dumbbbbell.svg" alt="gyms"/>
                        <p class="card-text text-center mt-3 teaser-text">Keress edzőkre</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div id="user-teaser-card" class="card mb-3 mx-auto text-center text-white bg-success" style="width: 18rem;">
                    <div class="card-body">
                        <img class="index-img" src="/images/indexIcons/stars.svg" alt="reviews"/>
                        <p class="card-text text-center mt-3 teaser-text">Olvass és írj értékeléseket</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<h1 id="top-3-trainers" class="text-center my-3 text-muted">TOP 3 Edző Magyarországon</h1>

<div class="top3-trainers-cards pt-5 pb-5">
    <div class="container pt-25">
        <div class="row">
            <div class="col-md-6 col-lg-4" th:each="trainer : ${top3Trainers}">
                <div class="card trainer-card mb-3 mx-auto text-center" style="width: 18rem;">
                    <a th:href="@{|/trainers/${trainer[0].id}|}" class="custom-card">
                        <div class="card-body">
                            <img th:src="${trainer[0].picURL}" onerror="this.src='/images/user-3.svg'" alt="trainer"
                                 class="index-img img-circle"/>
                            <h4 class="trainer-name mb-0" th:href="@{|/trainers/${trainer[0].id}|}" th:text="${trainer[0].name}"></h4>
                            <p class="trainer-gym-name" th:text="${'(' + trainer[0].gym.name + ')'}"></p>
                            <div class="stars-trainer" th:if="${#lists.size(trainer[0].reviews) == 0}">
                                <div id="specialRateYoBlur" class="rateYoReadOnly blur"></div>
                                <a class="reviewNumber">Nincs még értékelés</a>
                            </div>
                            <div class="stars-trainer" th:if="${#lists.size(trainer[0].reviews) > 0}">
                                <a class="averageRating starOutput" th:text="${trainer[1]}" style="display: none"/>
                                <div id="specialRateYo" class="rateYoReadOnly notblur"></div>
                                <a class="reviewNumber"
                                   th:text="${{#lists.size(trainer[0].reviews)} + ' értékelés'}"></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>



<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/rating/homeRating.js}"></script>

</body>
</html>