<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:og="http://ogp.me/ns#">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="/static/css/email/foundation-emails.css"/>
</head>

<body>
<!-- Wrapper for the body of the email -->
<table class="body">
    <h1>MarkMyTrainer</h1>
    <table class="callout">
        <tr>
            <th class="callout-inner success">
                <p>Uhh tesó gáz, hogy elfelejtetted a jelszavat. Az alsó linken keresztül helyreállíthatod</p>
            </th>
            <th class="expander"></th>
        </tr>
    </table>
    <table class="button success">
        <tr>
            <td>
                <table>
                    <tr>
                        <td><a th:href="${link}">IdeeeeKATTT</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</table>
</body>
</html>