<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Hiba')"></head>
<body>
<style>
    .app-error {
        margin-top: 20px;
        border: 1px solid #dad7de;
        padding: 10px;
        background-color: #f7f5fa;
        border-radius: 6px;
    }
</style>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <!--<h2 th:text="|${#httpServletRequest.getAttribute('javax.servlet.error.status_code')} Error|">500 Error</h2>-->
    <div th:if="|${#httpServletRequest.getAttribute('javax.servlet.error.status_code') == 404}">
        <h2>Nincs ilyen oldal. Valamit benéztél... :(</h2>
    </div>
    <div th:if="|${#httpServletRequest.getAttribute('javax.servlet.error.status_code') == 401}">
        <h2>Ezt az oldalat csak bejelentkezett felhasználók láthatják</h2>
    </div>
    <div th:if="${#httpServletRequest.getAttribute('javax.servlet.error.exception')} != null" class="app-error">
        <code th:text="${#httpServletRequest.getAttribute('javax.servlet.error.exception')}">Error Message</code>
    </div>

    <div th:if="${errorMsgGymNotFound != null}" class="app-error">
        <h5>Nem létezik ez a terem :( RIP</h5>
    </div>
    <div th:if="${errorMsgTrainerNotFound != null}" class="app-error">
        <h5>Nem létezik ez az edző :( RIP</h5>
    </div>
    <div th:if="${errorMsgReviewNotFound != null}" class="app-error">
        <h5>Nem létezik ez a review :( RIP</h5>
    </div>

</div>
<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
</body>
</html>