<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:og="http://ogp.me/ns#">

<head th:fragment="head(page_title)" lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="icon" href="/images/favicon.ico"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css"/>

    <link rel="stylesheet" th:href="@{/css/jquery.rateyo.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/chosen.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>


    <title th:text="${page_title}">MarkMyTrainer</title>

    <meta property="og:image"  content="/images/logo.jpg"></meta>
    <meta property="og:image:type" content="image/png"></meta>
    <meta property="og:image:width" content="1024"></meta>
    <meta property="og:image:height" content="1024"></meta>
    <meta property="og:type" content="website" ></meta>
    <meta property="og:url" content="https://www.markmytrainer.com/"></meta>
    <meta property="og:title" content="MarkMyTrainer" ></meta>
    <meta property="og:description" content="Keress rá kedvenc edződre vagy termedre és nézd meg a személyi edzőkről szóló értékeléseket!" ></meta>

    <meta name="google-site-verification" content="1M48weiYhDhzIZs4TywaTcI8uV75xrh4tukPR22W6T4" />

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#7873f5"
                    },
                    "button": {
                        "background": "#ff6ec4"
                    }
                },
                "content": {
                    "message": "Ez az oldal sütiket használ. Vagy elfogadod vagy elfogadod.",
                    "dismiss": "Értettem",
                    "link": "",
                    "href": ""
                }
            })});
    </script>

</head>

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">MarkMyTrainer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/gyms(.*)') ? 'active' : ''}"
                           class="nav-link" th:href="@{/gyms}">Termek</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/trainers(.*)') ? 'active' : ''}"
                           class="nav-link" th:href="@{/trainers}">Edzők</a>
                    </li>
                </ul>
            </div>
            <div id="navBarUsername" sec:authorize="!isFullyAuthenticated()" class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/login(.*)') ? 'active' : ''}"
                           class="nav-link" th:href="@{/login}">Bejelentkezés</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/signup(.*)') ? 'active' : ''}"
                           class="nav-link" th:href="@{/signup}">Regisztráció</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isFullyAuthenticated()" class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/user(.*)') ? 'active' : ''}"
                           class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authentication="name">Bejelentkezés</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/user/profile}">Profil</a>
                            <a class="dropdown-item" th:href="@{/user/reviews}">Értékelések</a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" th:action="@{/logout}" method="post">
                                <a id="logoutButton" class="dropdown-item" onclick="logoutForm.submit();">Kijelentkezés</a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="flash" th:if="${flash != null}">
    <div th:classappend="${'alert-' + #strings.toLowerCase(flash.status)}"  class="alert alert-dismissible fade show" role="alert">
        <p th:text="${flash.message}" class="mt-0 mb-0"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div th:fragment="loginFlash" th:if="${loginFlash != null}">
    <div th:classappend="${'alert-' + #strings.toLowerCase(loginFlash.status)}"  class="alert alert-dismissible fade show" role="alert">
        <p th:text="${loginFlash.message}" class="mt-0 mb-0"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<div th:fragment="flash-field-errors" th:if="${#fields.hasGlobalErrors()}">
    <div class="alert-danger alert alert-dismissible fade show" role="alert">
        <p th:each="error : ${#fields.errors('global')}" th:text="${error}" class="mt-0 mb-0"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<div th:fragment="footer" class="footer-container footer-critical">
    <div class="container pt-1">
        <div class="row py-3">
            <div class="col-md-7">
                <ul class="nav">
                    <li class="nav-item">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/faq(.*)') ? 'active-footer' : ''}"
                           class="nav-link footer-link" th:href="@{/faq}">GYIK</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${#httpServletRequest.servletPath.matches('/contact(.*)') ? 'active-footer' : ''}"
                           class="nav-link footer-link" th:href="@{/contact}">Kapcsolat</a>
                    </li>
                </ul>
            </div>
            <div class="col-md text-md-right">
                <small class="footer-watermark">&copy; 2018 Mark My Trainer -- <a href="https://www.linkedin.com/in/varga-gy%C3%B6rgy-4b5862132/" target="_blank">Created + Developed by Gyurmatag</a></small>
            </div>
        </div>
    </div>
</div>


<div th:fragment="scripts">

    <script th:src="@{/vendor/jquery/jquery-3.3.1.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script th:src="@{/vendor/jquery/jquery-ui.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script th:src="@{/vendor/jquery/chosen.jquery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
</div>

</body>
</html>