<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Bejelentkezés')"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container mt-2 mb-2 content">

    <div th:replace="layout :: flash"></div>
    <div th:replace="layout :: loginFlash"></div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h2>Bejelentkezés</h2>
        </div>
    </div>


    <form id="loginForm" class="form" th:action="@{${action}}" method="post" th:object="${user}">
        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="inputLoginUsername">Felhasználónév</label>
                <input th:field="*{username}" type="text" class="form-control" id="inputLoginUsername" placeholder="Ide írd a felhasználóneved"></input>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="inputLoginPassword">Jelszó</label>
                <input th:field="*{password}" type="password" class="form-control" id="inputLoginPassword" placeholder="Ide meg a jelszót.. aztaa"></input>
            </div>
        </div>

        <div class="row mt-0">
            <div class="col-md-6 col-lg-4">
                <a class="password-forgot" th:href="@{/forgotPassword}">Elfelejtetted a jelszavad?</a>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <button type="submit" class="btn btn-save">Belépés</button>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <a th:href="@{/signup}">Regisztrálok</a>
            </div>
        </div>
    </form>
</div>


<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/validation/loginFormValidation.js}"></script>
</body>
</html>