<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="review-delete-confirm">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Értékelés Törlése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Biztosan Törölni Szeretnéd ezt az Értékelést?!
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-save" th:href="@{|/deleteReview/${review.id}|}">Hogyne</a>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Mégsem</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>