<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head('Új Értékelés')"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container mt-2 mb-2">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  mt-2">
            <li class="breadcrumb-item"><a th:href="@{/}">Kezdőlap</a></li>
            <li class="breadcrumb-item"><a th:href="@{/gyms}">Termek</a></li>
            <li class="breadcrumb-item"><a th:href="@{|/gyms/${trainer.gym.id}|}" th:text="${trainer.gym.name}"></a></li>
            <li class="breadcrumb-item"><a th:href="@{|/trainer/${trainer.id}|}" th:text="${trainer.name}"></a></li>
            <li class="breadcrumb-item">Új Értékelés</li>
        </ol>
    </nav>

    <div th:replace="layout :: flash"></div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h2 th:text="${heading}"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <p class="mb-0">You are currently reviewing</p>
            <a th:href="@{|/trainers/${trainer.id}|}" th:text="${trainer.name}" th:target="_blank"></a>
        </div>
    </div>

    <form id="reviewForm" th:action="@{${action}}" method="post" th:object="${review}">
        <input type="hidden" th:field="*{id}"/>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <input name="trainer.id" th:type="hidden" th:value="${trainer.id}"/>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="starInput">Rating</label>
                <input id="starInput" class="form-control" type="hidden" th:field="*{rating}"
                       placeholder="Rating (1-5)"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <div id="rateYo1" class="inputElement"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
                <label for="reviewAddInputText">Review Text</label>
                <textarea id="reviewAddInputText" rows="5" cols="50" class="form-control" th:field="*{reviewText}" placeholder="Review text"/>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <button type="submit" class="btn btn-save" th:text="${submit}"></button>
                <a  th:onclick="'javascript:window.history.go(\'' + ${backTimes}+ '\');'" class="btn btn-cancel">Cancel</a>
            </div>
        </div>
    </form>

</div>



<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/rating/reviewFormRating.js}"></script>
<script th:src="@{/js/validation/reviewFormValidation.js}"></script>
</body>
</html>