<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: head(${#authentication.getPrincipal().getUsername()})"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="profile/profileHeader :: profile-header"></div>

<div class="container mt-2 mb-2 pt-0">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" th:each="review : ${reviews}">
            <a th:href="@{|/trainers/${review.trainer.id}|}" th:target="_blank" th:text="${review.trainer.name}">Trainer id</a>
            <div class="card mx-auto text-center" style="width: 100%;">
                <a class="starOutput name" th:text="${review.rating}" style="display: none">Review rating</a>
                <div class="rateYoReadOnly review-rateyo-readonly mt-1">Review rating</div>
                <div class="review-date mt-1" th:text="${#dates.format(review.createdDate, 'yyyy.MM.dd')}"></div>
                <p class="review-text mt-2 ml-2" th:text="${review.reviewText}">Review text</p>
            </div>
            <div class="operation-buttons mt-0 mb-3 ml-2">
                <a class="edit-button text-warning mr-2" th:href="@{|/reviews/${review.id}/edit|}">Szerkesztés</a>
                <a class="delete-button text-danger" data-toggle="modal" th:attr="data-target='#myModal'+${review.id }">Törlés</a>
                <div th:with="count=${review.id}" class="modal fade" th:id="'myModal' + ${review.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Értékelés Törlése</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Biztosan Törölni Szeretnéd ezt az Értékelést?
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-save" th:href="@{|/deleteReview/${count}|}">Persze</a>
                                <button type="button" class="btn btn-cancel" data-dismiss="modal">Dehogyiiis</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script th:src="@{/js/rating/userReviewsRating.js}"></script>

</body>
</html>