<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div th:fragment="profile-header">
    <div class="container pt-5">
        <div class="row pt-4">
            <div class="col">
                <div th:replace="layout :: flash"></div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <img class="profile-img" src="/images/profile/profile.svg" alt="profile"/>
                <span sec:authentication="name"></span>
            </div>
        </div>

        <ul class="nav mb-4">
            <li class="nav-item mt-2 mr-3">
                <a th:classappend="${#httpServletRequest.servletPath.matches('/user/reviews') ? 'active' : ''}"
                   th:href="@{/user/reviews}" class="profile-button">Értékeléseim</a>
            </li>
            <li class="nav-item mt-2 mr-3 ">
                <a th:classappend="${#httpServletRequest.servletPath.matches('/user/editCity') ? 'active' : ''}"
                   th:href="@{/user/editCity}" class="profile-button">Városom Szerkesztése</a>
            </li>
            <li class="nav-item mt-2 mr-3">
                <a th:classappend="${#httpServletRequest.servletPath.matches('/user/newPassword') ? 'active' : ''}"
                   th:href="@{/user/newPassword}" class="profile-button">Jelszavan Változtatása</a>
            </li>
        </ul>

    </div>
</div>

</body>
</html>